{% comment %}
  Advertising box at the top of a workshop website home page.
{% endcomment %}
<div class="jumbotron">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>{{page.venue}}</h2>
      <div class="row">
        <div class="col-md-6">
          <p>{{page.humandate}}</p>
          <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
        </div>
        <div class="col-md-6">
          <p>
          <strong>Instructors:</strong>
          {% if page.instructor %}
          {{page.instructor | join: ', ' %}}
          {% else %}
          to be announced.
          {% endif %}
          </p>
          {% if page.helper %}
          <p>
          <strong>Helpers:</strong>
          {{page.helper | join: ', ' %}}
          </p>
          {% endif %}
           <p>

          <button style="background-color:#f3fa69; border-color:#f3fa69"; onclick="window.location.href = 'https://www.eventbrite.co.uk/e/geospatial-data-in-r-workshop-22-and-23-march-2021-tickets-140994918597';"><strong>&nbsp;&nbsp;&nbsp;Sign-up&nbsp;&nbsp;&nbsp</strong></button>

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
